@import "tailwindcss";

@theme {
  --color-kcblue: #165DFF;
  --color-kcdark: #0F2B73;
  --color-kclight: #EEF5FF;
  --color-kcyellow: #FFC72C;
  --color-kcsoft: #F7FAFF;
  --color-kcborder: #E6EDF7;
  --font-sarabun: "Sarabun", sans-serif;
}

@layer base {
  body {
    @apply font-sarabun bg-[#f7faff] text-slate-800;
  }
}